PORT=8000
DB_NAME=kono_shop
CONNECTION_STRING=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority

CLIENT_BASE_URL=http://localhost:3008

JSON_WEB_TOKEN_SECRET_KEY=

cloudinary_Config_Cloud_Name=
cloudinary_Config_api_key=
cloudinary_Config_api_secret=

VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_RETURN_URL=
